.wrapper {
    margin: 0 auto;
    width: auto;
    padding: 0 60px;
    max-width: 1500px;
}

.block-note {
    margin: 10px 0 0;
    border: 1px solid #ff9601;
    background: #000;
    padding: 10px;
}

.box-player {
    position: relative;
}
.player {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.player-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.block-note {
    margin: 10px 0 0;
    border: 1px solid #ff9601;
    background: #000;
    padding: 10px;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.film-note {
    margin-bottom: 20px;
    border: 1px solid #b8b612;
    padding: 5px;
}

.tool {
    float: right;

    & li {
        float: left;
        margin: 0 0 0 10px;
        cursor: pointer;
        font-size: 11px;
    }
}

.ads-btn {
    color: #ff9601;
    font-size: 20px;
}

.ads-icon {
    width: 38px;
    color: white;
}

.lamp-btn {
    float: left;
    font-size: 11px;
    margin: 0 3px 0 0;
    color: white;
}

.radial-center {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    color: #000;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    background-color: rgb(82, 82, 82);
}
.lamp-title,
.autoplay-title {
    float: left;
    font-size: 11px;
    line-height: 30px;
    margin: 0 3px 0 0;
    color: white;
}

.lamp-icon {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

.toggle-button {
    width: 60px;
    height: 30px;
    margin: 0 5px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-button.no {
    background-color: orange;
}

.toggle-button.yes {
    background-color: green;
    background-image: linear-gradient(to bottom, green, yellow);
}

.pm-server {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.server-list {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.server-center {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #7c7777;
    border-radius: 3px;
    padding: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.server-title {
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
    color: #181818;
    padding: 7px;
    border-radius: 3px;
    white-space: nowrap;
    margin-left: 3px;
}
.server-item {
    font-size: 12px;
    font-weight: 700;
    background-color: #121212;
    color: #fff;
    padding: 7px;
    border-radius: 3px;
    margin-left: 5px;

    &:hover {
        background-color: #e87d7f;
        color: #702526;
    }

    &.active {
        background-color: #f2a900;
        font-weight: 700;
        color: #702526;
    }
}

.episodes {
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    color: #fff601;
    max-width: 1000px;
    margin: 10px auto;
    background: #333;
    padding-bottom: 5px;
}

.episodes-icon {
    margin-left: 5px;
}

.episodes-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.episodes-item {
    background: #333;
}

.box-rating {
    overflow: hidden;
    margin: 0 0 5px;
}

.rating-title {
    font-size: 20px;
    color: #f78144;
}

.rating-block {
    margin-top: 10px;
}

.infor-title {
    font-size: 28px;
    margin: 20px 0 8px;
    color: var(--primary-color);
}

.infor-name {
    margin: 0;
    font-size: 15px;
}

.infor-content {
    padding: 4px 4px;
    margin: 5px 0 20px 0;
    line-height: 26px;
    font-size: 12px;
    color: #bbb;
    background: #322b2b;
    margin-top: 5px;
}

.infor-link {
    text-decoration: none;
    color: #337ab7;
}

.comment {
    background: #fff;
    padding: 5px;
    margin: 20px 0 0;
    border-radius: 3px;

    & h3 {
        font-weight: 700;
        font-size: 1.5em;
        color: var(--primary-color);
    }
}

.film-related {
    margin: 20px 0 0;
    padding: 10px 0 0;
    border-top: 1px solid #4c4c4c;
}
