.wrapper {
    width: 260px;
    height: 168px;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 1px var(--white-color);
    margin-bottom: 17px;
}

.content-img {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    position: relative;
    transition: transform 0.2s;
}

.content-label {
    position: absolute;
    top: 0;
    color: var(--white-color);
    background-image: linear-gradient(to right, #c12626, #eec435);
    font-size: 1.1rem;
    padding: 2px 4px;
    border-radius: 4px;

    &::before {
        content: '';
        border-width: 6px 6px;
        border-style: solid;
        border-color: #dd8b52 transparent transparent transparent;
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.content-name {
    position: absolute;
    width: 260px;
    bottom: 0;
    color: var(--white-color);
    font-size: 1.5rem;
    text-align: center;
    padding: 8px 8px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper:hover {
    box-shadow: 0 0 5px var(--white-color);
}

.wrapper:hover .content-img {
    transform: scale(1.2);
}

.wrapper:hover .content-circel {
    display: block;
    animation: zoomOut ease 0.3s;
}

.wrapper:not(:hover) .content-circel {
    display: block;
    animation: zoomIn ease 0.3s forwards;
}

.wrapper:hover .content-play {
    display: block;
    animation: zoomOut ease 0.3s;
}

.wrapper:not(:hover) .content-play {
    display: block;
    animation: zoomIn ease 0.3s forwards;
}

@keyframes zoomOut {
    from {
        opacity: 0;
        transform: scale(2);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes zoomIn {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(2);
    }
}

.content-circel {
    position: absolute;
    width: 52px;
    height: 52px;
    background-color: rgba(255, 138, 0, 0.8);
    top: 58px;
    left: 104px;
    border-radius: 50%;
    display: none;
}
.content-play {
    border-width: 15px 15px;
    border-style: solid;
    border-color: transparent transparent transparent var(--white-color);
    position: absolute;
    top: 69.5px;
    left: 125.5px;
    display: none;
}

.small {
    &.wrapper {
        width: 160px;
        height: 100px;
        display: block;
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        box-shadow: 0 0 1px var(--white-color);
        margin-bottom: 17px;
    }
    &.content-img {
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 4px;
        position: relative;
        transition: transform 0.2s;
    }

    & .content-label {
        position: absolute;
        font-size: 0.9rem;
        padding: 2px 4px;
        border-radius: 1px;
    }

    &.content-label::before {
        border-width: 4px 4px;
        bottom: -7px;
        left: 50%;
        transform: translateX(-50%);
    }

    &.content-name {
        width: 160px;
        font-size: 1.3rem;
        padding: 2px 2px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    &.content-circel {
        position: absolute;
        width: 31px;
        height: 31px;
        background-color: rgba(255, 138, 0, 0.8);
        top: 35px;
        left: 62px;
        border-radius: 50%;
        display: none;
    }
    &.content-play {
        border-width: 9px 9px;
        top: 42px;
        left: 75px;
        display: none;
        position: absolute;
    }
}
