.wrapper {
    margin: 0 auto;
    width: auto;
    padding: 0 60px;
    max-width: 1500px;
}

.container {
    overflow: hidden;
}

.heading {
    overflow: hidden;
    margin: 15px 0 20px;
}

.title {
    font-size: 2.8rem;
    float: left;
    font-family: roboto;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding: 8px 0;
    color: #ff8a00;
}

.order {
    padding: 16px 0;
    float: right;
    justify-content: center;
    align-items: center;
}

.list-item {
    display: inline-block;
    margin: 0 0 0 10px;
}

.list-item-btn {
    padding: 7px;
    background: #ff9601;
    color: #f5f5f5;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

.text {
    margin: 0 0 10px 0;
    overflow: hidden;
    padding: 5px 10px;
    list-style: none;
    background-color: #302e2e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.description {
    margin: 22px 0 27px;
    padding: 20px;
    width: 100%;
    background-color: #423e3e;
}

.description-link {
    color: #ff960e;
    font-weight: 700;
    padding: 0 4px;
}

.panigation {
    text-align: center;
    display: block;
    margin: 10px 0 0;
}
