.footer {
    background-color: #121212;
    padding: 25px 0;
    margin: 20px 0 0;
}

.grid {
    width: 1368px;
    max-width: 100%;
    margin: 0 auto;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid_column-6 {
    padding-left: 5px;
    padding-right: 5px;
    width: calc(100% / 6);
}

.footer-img {
    width: 162px;
}

.footer-list {
    list-style: none;
}

.footer-heading {
    font-size: 1.4rem;
    color: var(--white-color);
    padding-bottom: 14px;
}

.footer-item {
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    line-height: 2.8rem;
}

.footer-item-a {
    font-size: 1.4rem;
    color: #666666;
    text-decoration: none;
    line-height: 2.8rem;

    &:hover {
        color: var(--primary-color);
    }
}
