.header {
    background: #fff;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.relative {
    position: relative !important;
}

.content {
    padding: 15px 0px;
}

.logo-text {
    position: relative;
    color: #ce7a58;
    text-align: left;
    display: flex;
    align-items: center;
}

.logo{
    padding-right: 20px;
}

.logo-img {
    left: 0px;
    width: 82px;
    display: inline-block;
}

.text {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #ce7a58;
    margin: 0;
}

.subtitle {
    font-size: 14px;
    color: #724331;
    margin: 4px 0 0;
}

.header-account {
    position: absolute;
    top: 40px;
    right: 0px;
}

.header-account .btn {
    margin: 0px 3px;
    border-color: #ce7a58;
    color: #1e2f41;
    border-radius: 3px;
    width: 130px;
    min-width: 0px;
    font-size: 18px;
    height: auto;
    font-weight: 500;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    &:hover {
        background-color: #ce7a58;
        color: #fff;
    }
}

.header-nav {
    background: #f5f5f5;
}

.nav-list {
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;

    & > li {
        float: left;
        position: relative;
    }
}

a{
    text-decoration: none;
}

.nav-item {

}  

.nav-link {
    display: block;
    padding: 10px 15px;
    font-weight: 500;
    height: 42px;
    position: relative;
    color: #1e2f41;


    &:hover {
        background-color: #ce7a58;
        color: #fff;
    }
}

.dropdown {
    &:hover {
        .dropdown-content {
            display: block;
        }
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e28c6a;
    min-width: 180px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 0;
    border-radius: 4px;
    z-index: 4;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            font-size: 1.8rem;

            &:hover {
                background-color: #ce7a58;
            }
        }
    }
}
